{% extends "header.html" %} {% from 'bootstrap/form.html' import render_form %} {% block app_content %}
  
  <!-- Help modal -->
  <div class="modal fade" id="adminHelpModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h1 class="display-5"><i class="fa fa-chalkboard-teacher"></i> Create a lesson</h1>
          <p class="lead">This form is used to create a new lesson for a selected class.</p>
          <hr class="my-4">
          <p>The lesson start and end times are set to the default for this class, but can be changed. The class sign-up code automatically closes at the end of the lesson time.</p>
          <p>If you have a Zoom invitation text, paste it into the Zoom lesson invitation field. The URL, meeting room ID and password will automatically be parsed from the invitation.</p>
          <p>If you are using an alternative service, then you can include an online lesson code and password.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="{{url_for('classes.class_attendance', class_id = turma.id)}}"><button class="btn btn-light">
                    <i class="fa fa-chevron-left">
                    </i> Back
                    </button>
                </a>
            </div>
            <div class="col-md-10">
                <button type="button" class="btn btn-lg btn-outline-secondary float-right" data-toggle="modal"
                data-target="#adminHelpModal">
                <i class="fa fa-info"></i>
              </button>
                <h1><i class="fa fa-chalkboard-teacher"></i> {{title}}</h1>
            </div>
        </div>
        <hr>
        <br>


        <div class="card bg-light mb-3" style="max-width: 25rem;">
            <div class="card-body">
                <h4><i class="fa fa-users"></i> {{turma.turma_label}}</h4>
                <h4><i class="fa fa-calendar-alt"></i> {{turma.turma_term}} {{turma.turma_year}}</h4>
                <hr>
                <form method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                    {{ render_form(form) }}
                </form>
            </div>

        </div>
    </div>
</div>


<!-- Parse Zoom pasted invitation lead -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.35/dayjs.min.js" integrity="sha512-nG86d7fodOg4f3fZF796WwIj6WwxdWI2DCXCarXZU05/UNHzC2CHQkD6dNdj6Ahaurrbed66rsvTt6r58RQ5WA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.35/plugin/customParseFormat.min.js" integrity="sha512-HVENSZfi5gX0CYmasxVKQ3imukvv6ZJVErgR/hj3B2+XeddOc0D0juWiCVXRiqhDzEp/UGeRNvRHH+y9VLApyg==" crossorigin="anonymous"></script>
<script>dayjs.extend(window.customParseFormat.min.js)</script>

<script>
  $(function () {

    // Hide extra online lesson fields
    $('#online_lesson_code').parent().hide();
    $('#online_lesson_password').parent().hide();

    // Display them on request
    $('.addMeetingDetails').on('click', function () {
      $('#online_lesson_code').parent().slideToggle();
      $('#online_lesson_password').parent().slideToggle();
      $(this).hide('slow');
    });

    // Handler for submit
    $('#online_lesson_invitation').on('paste', function (e) {
      var pasteData = e.originalEvent.clipboardData.getData('text');
      var data = { zoomInvitation: pasteData };
      const csrftoken = Cookies.get('_csrf_token');

      fetch("{{url_for('classes.parse_zoom_invitation')}}", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8',
          'X-CSRFToken': csrftoken
        },
        body: JSON.stringify(data)
      }).then(res => res.json()).then(data => {
        if (!data.hasOwnProperty('error')) {
          $('#online_lesson_code').val(data.meeting_id).parent().show();
          $('#online_lesson_password').val(data.meeting_passcode).parent().show();

          var datetime_object = dayjs(data.meeting_datetime_object, 'MMM DD, YYYY hh:mm A');
          var class_date = dayjs(datetime_object).format('YYYY-MM-DD');
          $('#date').val (class_date);

          $('.addMeetingDetails').hide();
        }
      });
    });
  });
</script>

{% endblock %}